<template>
  <div>
    <div class="mapWrapper">
      <div id="map" style="height: 100%; width: 100%" />
      <q-btn
        class="absolute-bottom-left q-ma-sm"
        unelevated
        round
        text-color="black"
        color="white"
        icon="layers"
        @click="toggleStyle"
      />
    </div>
    <div
      id="popup"
      ref="htmlPopup"
      class="cursor-pointer"
      style="display: none; visibility: hidden"
      @click="popupClick(image)"
    >
      <q-img
        @error="imgLoadError"
        :src="getThumbnail(image.id)"
        style="height: 200px; width: 200px"
        fit="cover"
        loading="lazy"
        class="q-mb-sm"
        :no-spinner="true"
        v-ripple
      >
        <div class="absolute-top text-center text-bold" style="padding: 4px">
          {{ image.name }}
        </div>

        <div class="absolute-bottom text-center" style="padding: 4px">
          {{ shared.formatDate(image.creationDate) }}
        </div>
      </q-img>
    </div>
  </div>
</template>

<script>
import maplibregl from "maplibre-gl";
import { defineComponent } from "vue";
import { ref } from "vue";
import { api } from "boot/axios";
import { useQuasar } from "quasar";
import shared from "../shared";

export default defineComponent({
  name: "Mapbox",
  emits: ["popup-clicked"],
  props: {
    mapSettings: {
      type: Object,
      required: false,
    },
  },

  setup() {
    const $q = useQuasar();
    return {
      shared,
      isDesktop: $q.platform.is.desktop,
    };
  },

  data() {
    return {
      map: ref(false),
      image: ref(false),
      popup: ref(false),
      geojson: ref({}),
    };
  },

  mounted() {
    // Check if used stored settings or default settings
    if (this.mapSettings) 
      this.loadMap(this.mapSettings);
    else 
      this.loadMap({ center: [12, 46], zoom: 8, style: "basic" });
  },

  methods: {
    // Init maplibregl.Map object
    loadMap(mapSettings) {
      // Release instance when changing style
      if (this.map) this.map.remove();

      // Init map instance
      this.map = new maplibregl.Map({
        container: "map",
        style: `https://api.maptiler.com/maps/${mapSettings.style}/style.json?key=fcAZr3Cl0Iig6nYuktEX`,
        center: mapSettings.center,
        zoom: mapSettings.zoom,
        pitch: mapSettings.hasOwnProperty("pitch") ? mapSettings.pitch : 0,
        bearing: mapSettings.hasOwnProperty("bearing")
          ? mapSettings.bearing
          : 0,
        fadeDuration: 100,
      });
      this.map.on("load", this.mapLoaded);
      this.map.resize();
    },

    // Get the thumbnail of an image
    getThumbnail(imageid) {
      return api.getUri({
        url: api.defaults.baseURL + "/images/thumbnail",
        params: { id: imageid, token: localStorage.getItem("token") },
      });
    },

    // Show popup over the marker
    showPopup(e) {
      var coordinates = e.features[0].geometry.coordinates.slice();

      // Ensure that if the map is zoomed out such that
      // multiple copies of the feature are visible, the
      // popup appears over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      // Get the image metadata from the properties
      this.image = e.features[0].properties;

      this.$refs.htmlPopup.style.display = "block";
      this.$refs.htmlPopup.style.visibility = "visible";

      this.popup
        .setLngLat(coordinates)
        .setDOMContent(this.$refs.htmlPopup)
        .addTo(this.map);
    },

    // On popup click
    popupClick(e) {
      var image;
      if (e.hasOwnProperty("features")) image = e.features[0].properties;
      else image = e;
      this.$emit("popup-clicked", image);
    },

    // Set the image source to an empty image on error
    imgLoadError(element) {
      element.target.src =
        "data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=";
    },

    // Fit bounds of latest photos
    fitBounds(images) {
      // Remove pictures without position
      var withPosition = images.filter(
        (img) => !(img.latitudeNumber == 0 && img.longitudeNumber == 0)
      );

      // Sort images by creation date
      withPosition.sort(function (a, b) {
        return b.creationDate.localeCompare(a.creationDate);
      });

      // Get average coordinates of first N photo
      var firstImages = withPosition.slice(0, 100);

      // Determine min and max coordinates
      var minLatitude = firstImages.reduce(function (prev, current) {
        return prev.latitudeNumber < current.latitudeNumber ? prev : current;
      });
      var minLongitude = firstImages.reduce(function (prev, current) {
        return prev.longitudeNumber < current.longitudeNumber ? prev : current;
      });
      var maxLatitude = firstImages.reduce(function (prev, current) {
        return prev.latitudeNumber > current.latitudeNumber ? prev : current;
      });
      var maxLongitude = firstImages.reduce(function (prev, current) {
        return prev.longitudeNumber > current.longitudeNumber ? prev : current;
      });

      // Fit bounds
      this.map.fitBounds(
        [
          [minLongitude.longitudeNumber, minLatitude.latitudeNumber],
          [maxLongitude.longitudeNumber, maxLatitude.latitudeNumber],
        ],
        { padding: 50 }
      );
    },

    // Get the visual settings of the map
    getMapSettings() {
      return {
        center: this.map.getCenter(),
        zoom: this.map.getZoom(),
        pitch: this.map.getPitch(),
        bearing: this.map.getBearing(),
        style: this.map
          .getStyle()
          .name.toLowerCase()
          .replace("satellite hybrid", "hybrid"),
      };
    },

    // Toggle map style (basic/hybrid)
    toggleStyle() {
      var mapSettings = this.getMapSettings();
      if (mapSettings.style == "basic") mapSettings.style = "hybrid";
      else mapSettings.style = "basic";

      // Reload map with new style (note: calling setStyle cause all the existing layer to be )
      this.loadMap(mapSettings);
    },

    // Add map sources, layers and events
    mapLoaded() {
      var map = this.map;

      map.addSource("images", {
        type: "geojson",
        data: this.geojson,
        cluster: true,
        clusterMaxZoom: 14, // Max zoom to cluster points on
        clusterRadius: 50, // Radius of each cluster when clustering points (defaults to 50)
      });

      map.addLayer({
        id: "clusters",
        type: "circle",
        source: "images",
        filter: ["has", "point_count"],
        paint: {
          "circle-color": [
            "step",
            ["get", "point_count"],
            "#51bbd6",
            100,
            "#f1f075",
            750,
            "#f24c41",
          ],
          "circle-radius": [
            "step",
            ["get", "point_count"],
            20,
            100,
            30,
            750,
            40,
          ],
          "circle-stroke-width": 2,
          "circle-stroke-color": "#fff",
        },
      });

      map.addLayer({
        id: "cluster-count",
        type: "symbol",
        source: "images",
        filter: ["has", "point_count"],
        layout: {
          "text-field": "{point_count_abbreviated}",
          "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
          "text-size": 12,
        },
      });

      map.addLayer({
        id: "unclustered-point",
        type: "circle", //symbol
        source: "images",
        filter: ["!", ["has", "point_count"]],
        paint: {
          "circle-radius": 10,
          "circle-color": "#2476ff",
          "circle-stroke-width": 2,
          "circle-stroke-color": "#fff",
        },
        /*layout: {
          "icon-image": ["concat", "square-rgb-", ["get", "id"]],
          "icon-size": 0.25,
        },*/
      });

      map.on("styleimagemissing", this.getImage);

      // Inspect a cluster on click
      map.on("click", "clusters", function (e) {
        var features = map.queryRenderedFeatures(e.point, {
          layers: ["clusters"],
        });
        var clusterId = features[0].properties.cluster_id;
        map
          .getSource("images")
          .getClusterExpansionZoom(clusterId, function (err, zoom) {
            if (err) return;

            map.easeTo({
              center: features[0].geometry.coordinates,
              zoom: zoom,
            });
          });
      });

      // Init popup class
      this.popup = new maplibregl.Popup({
        closeButton: false,
        closeOnClick: true,
      });

      var context = this;

      // Determine if mobile version
      var isDesktop = this.isDesktop;
      if (isDesktop) map.on("click", "unclustered-point", this.popupClick);
      else map.on("click", "unclustered-point", this.showPopup);
      map.on("mouseenter", "unclustered-point", function (e) {
        map.getCanvas().style.cursor = "pointer";
        if (isDesktop) context.showPopup(e);
      });
      map.on("mouseleave", "unclustered-point", function (e) {
        map.getCanvas().style.cursor = "";
        if (isDesktop) context.popup.remove();
      });
      map.on("mouseenter", "clusters", function (e) {
        map.getCanvas().style.cursor = "pointer";
      });
      map.on("mouseleave", "clusters", function () {
        map.getCanvas().style.cursor = "";
      });
    },

    // Get the data and generate the geojson
    setData(data) {
      this.geojson = {};
      this.geojson.type = "FeatureCollection";
      this.geojson.features = [];

      data.forEach((image) => {
        if (
          image.longitudeNumber != 0 &&
          image.latitudeNumber != 0 &&
          image.longitudeNumber != null &&
          image.latitudeNumber != null
        ) {
          var feature = {};
          feature["type"] = "Feature";
          feature["geometry"] = {
            type: "point",
            coordinates: [image.longitudeNumber, image.latitudeNumber],
          };
          feature["properties"] = image;
          feature["classname"] = "marker";
          this.geojson.features.push(feature);
        }
      });
    },

    // Unused: Generate a round marker with the preview of the image (currently disabled for perfomance reason)
    getImage(e) {
      var id = e.id; // id of the missing image

      // check if this missing icon is one this function can generate
      var prefix = "square-rgb-";
      if (id.indexOf(prefix) !== 0) return;

      id = id.replace(prefix, "");
      var url = this.getThumbnail(id);
      var mp = this.map;
      var ri = this.roundImage;
      mp.loadImage(url, function (error, image) {
        if (error) throw error;

        var imageid = prefix + id;
        console.log("creatingImage: " + imageid);
        if (!mp.hasImage(imageid)) mp.addImage(imageid, ri(image));
      });
    },

    // Unused: Round the edges of an image
    roundImage(img) {
      // use min size so we get a square
      const size = Math.min(img.width, img.height);

      const canvas = document.createElement("canvas");
      // let's update the canvas size
      canvas.width = size;
      canvas.height = size;

      // draw image to canvas
      const ctx = canvas.getContext("2d");
      ctx.drawImage(img, 0, 0);

      // only draw image where mask is
      ctx.globalCompositeOperation = "destination-in";

      // draw our circle mask
      ctx.fillStyle = "#000";
      ctx.beginPath();
      ctx.arc(
        size * 0.5, // x
        size * 0.5, // y
        size * 0.5, // radius
        0, // start angle
        2 * Math.PI // end angle
      );
      ctx.fill();

      // restore to default composite operation (is draw over current image)
      ctx.globalCompositeOperation = "source-over";

      // show canvas
      canvas.hidden = false;

      return ctx.getImageData(0, 0, img.width, img.height);
    },
  },
});
</script>

<style>
@import "https://unpkg.com/maplibre-gl@3.2.1/dist/maplibre-gl.css";

#popup p {
  color: black;
}

.mapboxgl-popup-content {
  padding: 5px;
  padding-bottom: 0px;
}

.mapWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
</style>
