<template>
  <q-tree
    :style="filterVisible ? 'padding-top: 66px' : ''"
    class="q-pa-md q-gutter-sm"
    ref="tree"
    node-key="id"
    label-key="name"
    :nodes="treeData"
    :filter="filter"
    :tick-strategy="tickStrategy"
    v-model:expanded="expandedKeys"
    v-model:ticked="ticked"
    v-model:selected="selected"
    @update:selected="selectedChange"
  >
    <template v-slot:default-header="prop">
      <slot name="default-header" v-bind="{ prop }"
        ><q-avatar
          rounded
          v-if="avatarEndpoint != null"
          class="q-ma-sm"
          text-color="white"
          size="40px"
          style="width: 40px; height: 40px"
        >
          <q-img
            v-if="prop.node[this.hasAvatarProperty]"
            no-spinner
            :src="prop.node.avatar"
          >
            <template v-slot:error>
              <p class="text-center" style="margin-top: 6px">
                {{ getInitials(prop.node.name) }}
              </p>
            </template>
          </q-img>
          <p
            v-if="!prop.node[this.hasAvatarProperty]"
            class="text-center"
            style="margin-top: 16px"
          >
            {{ getInitials(prop.node.name) }}
          </p> </q-avatar
        >{{ prop.node.name }}</slot
      >
    </template>
  </q-tree>

  <slot
    name="buttons-area"
    v-bind:clearTicked="clearTicked"
    v-bind:openTicked="openTicked"
    v-bind:ticked="ticked"
  ></slot>

  <q-page-sticky expand position="top">
    <q-input
      style="width: 100%"
      v-if="filterVisible"
      ref="filterRef"
      color="white"
      bg-color="primary"
      filled
      square
      v-model="filter"
      label="Search"
    >
      <template v-slot:prepend>
        <q-icon name="search" />
      </template>
      <template v-slot:append>
        <q-icon
          v-if="filter !== ''"
          name="clear"
          class="cursor-pointer"
          @click="resetFilter"
        />
      </template>
    </q-input>
  </q-page-sticky>
</template>
<script>
import { ref } from "vue";
import { api } from "boot/axios";
import { computed } from "vue";
import { useStore } from "vuex";
import { defineComponent } from "vue";

export default defineComponent({
  name: "TreeList",
  props: {
    view: {
      type: String,
      required: true,
    },
    dataEndpoint: {
      type: String,
      required: true,
    },
    tickStrategy: {
      type: String,
      default: "none",
    },
    filterVisible: {
      type: Boolean,
      default: true,
    },
    avatarEndpoint: {
      type: String,
      default: null,
    },
    hasAvatarProperty: {
      type: String,
      default: null,
    },
  },
  data() {
    const $store = useStore();

    var filter = computed({
      get: () => $store.state[this.view].filter,
      set: (val) => $store.commit(this.view + "/updateFilter", val),
    });

    return {
      filter,
      treeData: computed({
        get: () => {
          console.log("data retreived from cache");
          return $store.state[this.view].data;
        },
        set: (val) => $store.commit(this.view + "/updateData", val),
      }),
      expandedKeys: computed({
        get: () => $store.state[this.view].expandedKeys,
        set: (val) => $store.commit(this.view + "/updateExpandedKeys", val),
      }),
      ticked: computed({
        get: () => $store.state[this.view].ticked,
        set: (val) => $store.commit(this.view + "/updateTicked", val),
      }),
      selected: ref(null),
    };
  },
  mounted() {
    window.scrollTo(0, useStore().state[this.view].scrollY);
  },
  beforeUnmount() {
    useStore().commit(this.view + "/updateScrollY", window.scrollY);
  },
  created() {
    if (this.treeData.length == 0)
      api.get(this.dataEndpoint).then((response) => {
        // Add avatar src path, if an avatar endpoint is defined
        if (this.avatarEndpoint != null) this.addAvatarAttribute(response.data);
        // Load data into the tree
        this.treeData = response.data;
      });
    var firstLoaded = true;
    return {
      firstLoaded,
    };
  },
  updated() {
    // Expand to the first level (if it's the first load of this page)
    if (typeof this.firstLoaded === "undefined" || this.firstLoaded) {
      this.firstLoaded = false;
      this.expandRecursively(this.$refs.tree.nodes, 1);
    }
  },
  methods: {
    // Expand tree for N levels
    expandRecursively(nodes, level) {
      if (level <= 0) return;
      nodes.forEach((node) => {
        setTimeout(() => {
          this.$refs.tree.setExpanded(node.id, true);
        }, 100);
        if (typeof node.children !== "undefined")
          this.expandRecursively(node.children, level - 1);
      });
    },
    selectedChange(target) {
      // Prevent node to be selected
      this.selected = [];
      var mynode = this.$refs.tree.getNodeByKey(target);

      // If the element has childs and is not expanded, then expand it
      if (mynode.children.length > 0 && !this.expandedKeys.includes(target)) {
        this.$refs.tree.setExpanded(target, true);
      } else {
        // If the node hasn't checkbox, then open the element
        if (this.tickStrategy == "none") {
          this.$router.push({
            path: "/Grid",
            query: {
              view: this.view,
              id: mynode.id,
            },
          });
        } else {
          // If the node has check box, tick/untick it
          if (this.$refs.tree.isTicked(target)) {
            var newTicked = [...this.ticked];
            newTicked.splice(this.ticked.indexOf(target), 1);
            this.ticked = newTicked;
          } else 
            this.$refs.tree.setTicked(target, true);
        }
      }
    },
    // Open checked nodes
    openTicked() {
      this.$router.push({
        path: "/Grid",
        query: {
          view: this.view,
          id: this.ticked.join(","),
        },
      });
    },
    // Unchecks all nodes
    clearTicked() {
      this.ticked = [];
    },
    // Reset the search filter
    resetFilter() {
      this.filter = "";
      this.$refs.filterRef.focus();
    },
    // Add avatar url for each node
    addAvatarAttribute(nodes) {
      nodes.forEach((node) => {
        if (node[this.hasAvatarProperty])
          node.avatar = api.getUri({
            url: api.defaults.baseURL + this.avatarEndpoint,
            params: { id: node.id, token: localStorage.getItem("token") },
          });
        if (typeof node.children !== "undefined")
          this.addAvatarAttribute(node.children);
      });
    },
    // Get initials of a name
    getInitials(name) {
      return name.match(/\b\w/g).join("");
    },
  },
});
</script>
