<template>
  <div>
    <video
      ref="videoPlayer"
      class="video-js vjs-fill"
      preload="auto"
    >
      <source :src="src" type="application/x-mpegURL" />
    </video>
  </div>
</template>

<script>
import videojs from "video.js";

export default {
  name: "VideoPlayer",
  props: {
    src: {
      type: String,
      default() {
        return "";
      },
    },
    poster: {
      type: String,
      default() {
        return "";
      },
    },
    options: {
      type: Object,
      default() {
        return {
          controls: true,
          autoplay: false,
          preload: "auto",
        };
      },
    },
  },
  data() {
    return {
      player: null,
    };
  },
  mounted() {
    this.player = videojs(this.$refs.videoPlayer, this.options, () => {
      this.player.log("onPlayerReady", this);
    });
  },
  beforeUnmount() {
    if (this.player) {
      this.player.dispose();
    }
  },
};
</script>
<style scoped>
@import "video.js/dist/video-js.css";
</style>