<template>
  <q-layout view="hHh lpR fFf">
    <q-header class="transparent text-white">
      <q-toolbar
        style="
          background-image: linear-gradient(to bottom, #000000ff, #00000000);
        "
      >
        <q-btn dense flat round icon="arrow_back" @click="$router.go(-1)" />
        <q-toolbar-title> {{ toolbarTitle }} </q-toolbar-title>

        <q-btn
          flat
          round
          dense
          :icon="isFullscreen() ? 'fullscreen_exit' : 'fullscreen'"
          id="fullscreen"
          class="q-mr-xs"
          @click="fullscreenToggle"
        >
          <q-tooltip class="bg-accent">Toggle fullscreen</q-tooltip>
        </q-btn>
        <q-btn
          v-for="btn in buttons"
          flat
          round
          dense
          :icon="btn.icon"
          :key="btn.icon"
          class="q-mr-xs"
          @click="$refs.childView.$.ctx[btn.method](btn.methodParams)"
        >
          <q-tooltip class="bg-accent">{{ btn.label }}</q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <router-view
      @update-toolbar-buttons="updateToolbarButtons"
      @update-toolbar-title="updateToolbarTitle"
      v-slot="{ Component }"
    >
      <component ref="childView" :is="Component" />
    </router-view>
  </q-layout>
</template>

<script>
import { defineComponent } from "vue";
import { AppFullscreen } from "quasar";

export default defineComponent({
  name: "BackLayout",
  setup() {
    return {
      isFullscreen() {
        return AppFullscreen.isActive;
      },
    };
  },
  data() {
    var buttons = [];
    var toolbarTitle = "";
    return {
      buttons,
      toolbarTitle,
    };
  },
  methods: {
    updateToolbarButtons: function (newButtons) {
      this.buttons = newButtons;
    },
    updateToolbarTitle: function (newTitle) {
      this.toolbarTitle = newTitle;
    },
    fullscreenToggle() {
      AppFullscreen.toggle();
    },
  },
});
</script>
