<template>
  <q-layout view="hHh LpR fFf">
    <q-header class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title style="user-select: none">
          <q-avatar>
            <img src="~assets/digiKamWebViewerWhite.svg" />
          </q-avatar>
          digiKamWebViewer
        </q-toolbar-title>

        <q-btn
          flat
          round
          dense
          :icon="isFullscreen() ? 'fullscreen_exit' : 'fullscreen'"
          id="fullscreen"
          class="q-mr-xs"
          @click="fullscreenToggle"
        >
          <q-tooltip class="bg-accent">Toggle fullscreen</q-tooltip>
        </q-btn>

        <q-btn flat round dense icon="settings" class="q-mr-xs" to="/system">
          <q-tooltip class="bg-accent">System</q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      side="left"
      v-if="!$q.screen.lt.md"
      class="q-pt-sm q-pr-sm"
      show-if-above
    >
      <q-list class="menu-list">
        <q-item
          v-for="section in sections"
          v-bind="section"
          :key="section.title"
          :to="section.link"
        >
          <q-item-section v-if="section.icon" avatar>
            <q-icon :name="section.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ section.title }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-footer elevated v-if="$q.screen.lt.md" style="height: 60px">
      <q-toolbar class="q-pa-none">
        <q-toolbar-title>
          <q-tabs switch-indicator>
            <q-route-tab
              v-for="section in sections"
              v-bind="section"
              :key="section.title"
              :name="section.title"
              :icon="section.icon"
              :label="section.title"
              :to="section.link"
            ></q-route-tab>
          </q-tabs>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

    <q-page-container class="q-mb-lg">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
const sections = [
  {
    title: "Albums",
    icon: "photo_library",
    link: "/Albums",
  },
  {
    title: "Tags",
    icon: "sell",
    link: "/Tags",
  },
  {
    title: "Dates",
    icon: "event",
    link: "/Dates",
  },
  {
    title: "Map",
    icon: "map",
    link: "/Map",
  },
];

import { defineComponent } from "vue";
import { computed } from "vue";
import { useStore } from "vuex";
import { AppFullscreen } from "quasar";

export default defineComponent({
  name: "MainLayout",

  setup() {
    const $store = useStore();
    const leftDrawerOpened = computed({
      get: () => $store.state.mainlayout.leftDrawerOpened,
      set: (val) => $store.commit("mainlayout/updateLeftDrawerOpened", val),
    });

    return {
      sections,
      leftDrawerOpened,
      toggleLeftDrawer() {
        leftDrawerOpened.value = !leftDrawerOpened.value;
      },
      isFullscreen() {
        return AppFullscreen.isActive;
      },
    };
  },
  methods: {
    fullscreenToggle() {
      AppFullscreen.toggle();
    },
  },
});
</script>
<style lang="sass" scoped>
.menu-list .q-item
  border-radius: 0 32px 32px 0
</style>
