<template>
  <q-layout view="hHh lpR fFf">
    <router-view
      v-slot="{ Component }"
    >
      <component ref="childView" :is="Component" />
    </router-view>
  </q-layout>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "PageLayout"
});
</script>
