<template>
  <TreeList view="albums" dataEndpoint="/albums/tree" />
</template>
<script>
import TreeList from "components/TreeList.vue";
export default {
  components: {
    TreeList,
  },
};
</script>
