<template>
  <q-page class="flex flex-center fit column" style="margin-bottom: -60px">
    <img
      alt="digiKamWebViewer logo"
      src="~assets/digiKamWebViewerWhite.svg"
      style="width: 160px; height: 160px"
    >
    <p class="text-h5">digiKamWebViewer</p>
    <p class="text-subtitle1">Photos hosted by you!</p>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex'
})
</script>
