<template>
  <div>
    <Mapbox
      ref="mapbox"
      @popup-clicked="popupClicked"
      :mapSettings="mapSettings"
      :style="`height: calc(100vh + ${(this.$router.currentRoute.value.path=='/Map'?-51:0) + ($q.screen.lt.md&&this.$router.currentRoute.value.path=='/Map'?-60:0)}px;`"
    />
  </div>
</template>
<script>
import Mapbox from "components/Mapbox.vue";
import { api } from "boot/axios";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import { computed } from "vue";

export default {
  emits: ["update-toolbar-title","update-toolbar-buttons"],
  components: {
    Mapbox,
  },
  data() {
    const $store = useStore();
    return {
      imagesCache: computed({
        get: () => $store.state.map.data,
        set: (val) => $store.commit("map/updateData", val),
      }),
      mapSettings: {},
      mapSettingsCache: computed({
        get: () => $store.state.map.mapSettings,
        set: (val) => $store.commit("map/updateMapSettings", val),
      }),
    };
  },
  created() {
    var url = this.$router.currentRoute.value.query;
    this.mapSettings = this.mapSettingsCache[url];
  },
  mounted() {
    this.$emit("update-toolbar-buttons", []);
    var url = this.getUrl(useRoute().query);

    // Check for already cached data
    if (!(url in this.imagesCache))
      api.get(url).then((response) => {
        this.imagesCache[url] = response.data;

        // Set the geojson data in the component
        this.$refs.mapbox.setData(this.imagesCache[url]);

        // Set the center of the map
        this.$refs.mapbox.fitBounds(this.imagesCache[url]);
      });
    else {
      // Use cached data
      this.$refs.mapbox.setData(this.imagesCache[url]); 
    }

    // Setup toolbar title
    const route = useRoute();
    switch (route.query.view) {
      case "albums":
        api.get(`/albums/list/?id=${route.query.id}`).then((response) => {
          var album = response.data;
          this.$emit("update-toolbar-title", album[0].name);
        });
        break;
      case "dates":
        var year = parseInt(route.query.id.substring(0, 4));
        var month = parseInt(route.query.id.substring(4, 6));
        var title = year;
        if (month > 0) {
          title =
            new Date(year, month - 1, 1).toLocaleString("default", {
              month: "long",
            }) +
            " " +
            title;
        }
        this.$emit("update-toolbar-title", title);
        break;
      case "tags":
        api.get(`/tags/list/?ids=${route.query.id}`).then((response) => {
          var names = [];
          response.data.forEach((tag) => {
            names.push(tag.name);
          });
          this.$emit("update-toolbar-title", names.join(" - "));
        });
        break;
    }
  },
  methods: {
    // Open slideshow if popup clicked
    popupClicked(image) {
      // Save current map settings
      var url = this.$router.currentRoute.value.query;
      var mapSettings = this.$refs.mapbox.getMapSettings();
      this.mapSettingsCache[url] = mapSettings;

      // Determine which view to use for the slideshow
      var queryParams;
      if (this.$router.currentRoute.value.query.view != null)
        queryParams = {
          view: this.$router.currentRoute.value.query.view,
          id: this.$router.currentRoute.value.query.id,
          slide: image.id,
        };
      else
        queryParams = {
          view: "albums",
          id: image.album,
          slide: image.id,
        };

      // Open the slideshow
      this.$router.push({
        path: "/Slideshow",
        query: queryParams,
      });
    },

    // Get url to fetch for data    
    getUrl(routeQuery) {
      var url = "/images/listwithposition";
      switch (routeQuery.view) {
        case "albums":
          url = `/images/listalbum/?id=${routeQuery.id}`;
          break;
        case "dates":
          url = `/images/listdate/?date=${routeQuery.id}`;
          break;
        case "tags":
          url = `/images/listtags/?ids=${routeQuery.id}`;
          break;
      }
      return url;
    },
  },
};
</script>
