<template>
  <div>
    <swiper
      ref="swip"
      :style="{
        height: 'calc(100vh)',
        '--swiper-navigation-color': '#fff',
        '--swiper-pagination-color': '#fff',
        'background-color': '#000',
      }"
      :zoom="true"
      :lazy="true"
      :navigation="true"
      :virtual="virtualOptions"
      :keyboard="{
        enabled: true,
      }"
      class="mySwiper"
      @slideChange="onChange"
      @update="onUpdate"
      @init="onInit"
    >
      <swiper-slide
        v-for="(slide, index) in slides"
        :key="index"
        :virtualIndex="index"
        class="swiper-zoom-container"
      >
        <v-lazy-image
          v-if="slide.mimeType.startsWith('image/')"
          class="swiper-zoom-target"
          :src="getPictureUrl(slide.id)"
          :src-placeholder="getThumbnailUrl(slide.id)"
          :alt="slide.name"
        />

        <VideoPlayer
          v-if="
            (slide.mimeType.startsWith('video/') ||
              slide.mimeType.startsWith('audio/')) &&
            activeSlide == slide
          "
          :poster="getThumbnailUrl(slide.id)"
          :src="getHlsUrl(slide.id)"
          class="swiper-no-swiping"
          style="width: 100%; height: calc(100vh)"
        >
        </VideoPlayer>
      </swiper-slide>
    </swiper>

    <q-drawer
      v-model="rightDrawerOpen"
      side="right"
      overlay
      behavior="mobile"
      show-if-above
      bordered
    >
      <div class="info-container" v-if="activeSlide != null">
        <q-list>
          <q-item>
            <q-item-section>
              <q-item-label header>Picture details</q-item-label>
            </q-item-section>
            <q-item-section
              avatar
              class="cursor-pointer"
              @click="rightDrawerOpen = false"
            >
              <q-icon name="close" />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="storage" />
            </q-item-section>
            <q-item-section>
              <q-item-label>File size</q-item-label>
              <q-item-label caption>{{
                shared.humanFileSize(activeSlide.fileSize, false, 2)
              }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="straighten" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Size</q-item-label>
              <q-item-label caption
                >{{ activeSlide.width }} x
                {{ activeSlide.height }}</q-item-label
              >
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="event" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Creation date</q-item-label>
              <q-item-label caption>{{
                shared.formatDate(activeSlide.creationDate)
              }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            v-if="activeSlide.make != null"
            clickable
            v-ripple
            tag="a"
            target="_blank"
            :href="`https://google.com/search?q=${
              activeSlide.make + ' ' + activeSlide.model
            }`"
          >
            <q-item-section avatar>
              <q-icon name="photo_camera" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Taken with</q-item-label>
              <q-item-label caption
                >{{ activeSlide.make }} {{ activeSlide.model }}</q-item-label
              >
            </q-item-section>
          </q-item>
          <q-item
            v-if="
              activeSlide.latitudeNumber != 0 && activeSlide.latitudeNumber != 0
            "
            clickable
            v-ripple
            tag="a"
            target="_blank"
            :href="`https://maps.google.com/?q=${activeSlide.latitudeNumber},${activeSlide.longitudeNumber}`"
          >
            <q-item-section avatar><q-icon name="place" /></q-item-section>
            <q-item-section>
              <q-item-label>Position</q-item-label>
              <q-item-label caption
                >{{ activeSlide.latitudeNumber.toFixed(5) }},
                {{ activeSlide.longitudeNumber.toFixed(5) }}</q-item-label
              >
            </q-item-section>
          </q-item>
          <q-item
            v-if="
              $router.currentRoute.value.query.view != 'albums' &&
              activeSlide.id in slideAlbums
            "
            clickable
            v-ripple
            @click="openAlbum(slideAlbums[activeSlide.id])"
          >
            <q-item-section avatar
              ><q-icon name="photo_library"
            /></q-item-section>
            <q-item-section>
              <q-item-label>Album</q-item-label>
              <q-item-label caption>{{
                slideAlbums[activeSlide.id].name
              }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item-label
            header
            v-if="
              activeSlide.id in slideTags &&
              slideTags[activeSlide.id].length > 0
            "
            >Tags</q-item-label
          >
          <q-item
            clickable
            v-ripple
            v-for="tag in slideTags[activeSlide.id]"
            :key="tag.id"
            :name="tag.id"
            @click="openTag(tag)"
          >
            <q-item-section avatar>
              <q-icon name="sell" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ tag.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-drawer>
  </div>
</template>
<script>
import { Swiper, SwiperSlide } from "swiper/vue";
import SwiperCore, { Keyboard, Pagination, Navigation, Virtual } from "swiper";
import { ref } from "vue";
import { api } from "boot/axios";
import { computed } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import VideoPlayer from "../components/VideoPlayer.vue";
import VLazyImage from "v-lazy-image";
import shared from "../shared";
SwiperCore.use([Keyboard, Pagination, Navigation, Virtual]);

export default {
  components: {
    Swiper,
    SwiperSlide,
    VLazyImage,
    VideoPlayer,
  },
  emits: ["update-toolbar-title", "update-toolbar-buttons"],
  setup() {
    const rightDrawerOpen = ref(false);
    const activeSlide = ref(null);
    const slideTags = ref({});
    const slideAlbums = ref({});
    return {
      swipReference: "swipRef",
      rightDrawerOpen,
      activeSlide,
      slideTags,
      slideAlbums,
      shared,
    };
  },
  data() {
    const $store = useStore();
    const route = useRoute();

    return {
      slides: [],
      videoOptions: {
        autoplay: false,
        controls: true,
      },
      virtualOptions: {
        enabled: true,
        renderExternal: (data) => {
          this.slides = data;
        },
      },
      slidesCache: computed({
        get: () => $store.state.grid.data,
        set: (val) => $store.commit("grid/updateData", val),
      }),
      fullscreen: ref(false),
      updateActiveSlide: function (index) {
        // Update active slide
        this.activeSlide = this.slides[index];

        // Update url query
        var newQuery = { ...this.$router.currentRoute.value.query };
        newQuery.slide = this.slides[index].id;
        this.$router.replace({ query: newQuery });

        // Get the tags of the active slide
        if (!(this.activeSlide.id in this.slideTags))
          api
            .get(`/tags/listimage/?id=${this.activeSlide.id}`)
            .then((response) => {
              this.slideTags[this.activeSlide.id] = response.data;
            });

        // Get the album of the active slide
        if (!(this.activeSlide.id in this.slideAlbums))
          api
            .get(`/albums/listimage/?id=${this.activeSlide.id}`)
            .then((response) => {
              if (response.data.length > 0)
                this.slideAlbums[this.activeSlide.id] = response.data[0];
            });

        // Update toolbar title
        this.$emit("update-toolbar-title", this.slides[index].name);
      },
      setupSlides: function (url) {
        this.slides = this.slidesCache[url];
      },
    };
  },
  created() {
    const route = useRoute();

    var url = "";
    switch (route.query.view) {
      case "albums":
        url = `/images/listalbum/?id=${route.query.id}`;
        break;
      case "dates":
        url = `/images/listdate/?date=${route.query.id}`;
        break;
      case "tags":
        url = `/images/listtags/?ids=${route.query.id}`;
        break;
    }

    // Search for cached content
    if (!(url in this.slidesCache)) {
      // If no content found, get the images list
      api.get(url).then((response) => {
        this.slidesCache[url] = response.data;

        // Setup the slides
        this.setupSlides(url);
      });
    } else {
      // If cached content found, go to the selected slide
      this.setupSlides(url);
    }
  },
  mounted() {
    // Setup toolbar icons
    this.$emit("update-toolbar-buttons", [
      { icon: "file_download", method: "downloadFile", label: "Download file" },
      { icon: "info", method: "toggleRightDrawer", label: "Info" },
    ]);
  },
  methods: {
    // Get the url of the raw file
    getRawFileUrl(imageid) {
      return api.getUri({
        url: api.defaults.baseURL + "/images/rawfile",
        params: { id: imageid, token: localStorage.getItem("token") },
      });
    },

    // Get the HLS stream url of the file
    getHlsUrl(imageid) {
      return api.getUri({
        url: api.defaults.baseURL + "/images/streamindex",
        params: { id: imageid, token: localStorage.getItem("token") },
      });
    },

    // Get the url of a resized version of the picture
    getPictureUrl(imageid) {
      return api.getUri({
        url: api.defaults.baseURL + "/images/picture",
        params: {
          id: imageid,
          // size: 1500,  // keep server default picture size
          token: localStorage.getItem("token"),
        },
      });
    },

    // Get the url of the thumbnail
    getThumbnailUrl(imageid) {
      return api.getUri({
        url: api.defaults.baseURL + "/images/thumbnail",
        params: { id: imageid, token: localStorage.getItem("token") },
      });
    },

    // Update the url when changing the slide
    onChange(newVal) {
      this.updateActiveSlide(newVal.activeIndex);
    },

    // Programmatically set the active slide (only call on startup)
    setActiveSlide() {
      const route = useRoute();

      // Find the requested slide
      var selectedIndex = 0;
      if (typeof route.query.slide !== "undefined")
        selectedIndex = this.slides.findIndex(
          (slide) => slide.id == parseInt(route.query.slide)
        );

      // Move to active slide
      document.querySelector(".mySwiper").swiper.slideTo(selectedIndex);
      // Note: if the swiper has just been initialized and you slideTo(0), the onChange event is not called. So it has to been run manually
      if (this.activeSlide == null && selectedIndex == 0)
        this.updateActiveSlide(0);
    },

    // This method is called when the swiper has been initalized
    onInit() {
      // If the swiper has been initialized for the first time, the slides could have not be loaded yet. The active slide will be set by the onUpdate event
      if (this.slides.length > 0) this.setActiveSlide();
    },

    // This method is called only when slides changes after the swiper initialization
    onUpdate() {
      // Set active slide after the slides has been updated
      this.setActiveSlide();
    },

    // Download the entire image
    downloadFile() {
      var url = this.getRawFileUrl(this.$router.currentRoute.value.query.slide);
      window.open(url, "_blank");
    },

    toggleRightDrawer() {
      this.rightDrawerOpen = !this.rightDrawerOpen;
    },

    openTag(tag) {
      this.$router.push({
        path: "/Grid",
        query: {
          view: "tags",
          id: tag.id,
        },
      });
    },

    openAlbum(album) {
      this.$router.push({
        path: "/Grid",
        query: {
          view: "albums",
          id: album.id,
        },
      });
    },
  },
};
</script>
<style scoped>
.info-container {
  padding: 16px;
}

.image-wrap {
  min-height: calc(100vh - 50px);
}

.v-lazy-image {
  width: 100%;
}
</style>
