<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <q-table
      class="my-card"
      title="Images stats"
      :rows="imagesStat"
      :columns="imagesStatColumns"
      row-key="Format"
    />
    <q-table
      class="my-card"
      title="Counters"
      :rows="counters"
      :columns="countersColumns"
      row-key="Table"
      :hide-bottom="true"
    />
    <q-card class="my-card">
      <q-card-section class="text-white">
        <div class="text-h6">Thumbnails</div>
      </q-card-section>

      <q-separator />

      <q-card-actions vertical>
        <q-btn
          :loading="generatingThumbnails"
          :percentage="generatingProgress"
          color="primary"
          @click="generateThumbnails"
        >
          Generate
          <template v-slot:loading>
            <q-spinner-hourglass class="on-left" />
            Generating... {{generatingProgress}} %
          </template>
        </q-btn>
        <q-btn
          v-if="generatingThumbnails"
          color="primary"
          @click="stopGenerating"
          label="Stop"
        />
        <q-btn
          :loading="clearingThumbnails"
          color="red"
          @click="clearThumbnailsAsk"
          label="Clear all"
        />
      </q-card-actions>
    </q-card>

    <q-card class="my-card">
      <q-card-section class="text-white">
        <div class="text-h6">Profile</div>
        <div class="text-subtitle1 q-mb-xs">
          Name: <b>{{ fullName }}</b>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-actions vertical>
        <q-btn color="primary" @click="logout" label="Logout" />
      </q-card-actions>
    </q-card>

    <q-card class="my-card">
      <q-card-section class="text-white">
        <div class="text-h6">About {{ packageJson.productName}}</div>
        <div class="text-subtitle1 q-mb-xs">
          Version: <b>{{ backendVersion }}</b>
        </div>
        <div class="text-subtitle1 q-mb-xs">
          Repo on <b><a :href="packageJson.repo">Gitlab</a></b>
        </div>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="confirm" persistent>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-avatar
            icon="delete"
            color="primary"
            text-color="white"
            class="q-mr-md"
          />Confirm
        </div>
      </q-card-section>
      <q-card-section class="row items-center">
        <span class="q-ml-sm"
          >You are going to clear all cached thumbnails</span
        >
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" v-close-popup />
        <q-btn
          flat
          label="Ok"
          color="primary"
          v-close-popup
          @click="clearThumbnails()"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { defineComponent } from "vue";
import packageInfo from "../../package";
import { api } from "boot/axios";
import { ref } from "vue";
import shared from "../shared";
import packageJson from '../../package.json';


export default defineComponent({
  name: "System",

  data() {
    var loggedUser = JSON.parse(localStorage.getItem("user"));

    return {
      api,
      packageJson,
      backendVersion: "Getting...",
      fullName: loggedUser != null ? loggedUser.fullName : "",
      confirm: ref(false),
      clearingThumbnails: false,
      generatingThumbnails: false,
      generatingProgress: 0,
      polling: null,
      imagesStatColumns: [
        { name: "Format", label: "Format", field: "Format", sortable: true },
        { name: "Count", label: "Count", field: "Count", sortable: true },
        {
          name: "Size",
          label: "Size",
          field: "Size",
          sortable: true,
          format: (val) => shared.humanFileSize(val, false, 2),
        },
      ],

      imagesStat: [],
      countersColumns: [
        { name: "Table", label: "Table", field: "Table" },
        { name: "Records", label: "Records", field: "Records", sortable: true },
      ],
      counters: [],
      appVersion: packageInfo.version,
    };
  },
  created() {
    api.get("system/stats").then((response) => {
      // Process stats
      this.imagesStat = response.data.ImagesStat;

      // Process counters
      var c = [];
      for (var key in response.data.Counts) {
        c.push({
          Table: key,
          Records: response.data.Counts[key],
        });
      }
      this.counters = c;
    });

    api.get("system/backendversion").then((response) => {
      // Set backend version
      this.backendVersion = response.data.Version;
    });

    return {};
  },

  mounted(){

    // Get the status of the thumbnail generator
    this.updateStatus();

  },
  unmounted(){
	  clearInterval(this.polling)
  },

  methods: {
    generateThumbnails() {
      this.generatingThumbnails = true;
      this.generatingProgress = 0;
      api.post("system/thumbnailsgeneratorstart").then(()=>{
        this.pollData();
      });
    },
    stopGenerating() {
      api.post("system/thumbnailsgeneratorstop").then(()=>{
        this.updateStatus();
      });
    },
    updateStatus(){
      api.get("system/thumbnailsgeneratorstatus").then((response) => {
        // Process status
        this.generatingThumbnails = response.data.isRunning;
        this.generatingProgress = (Math.round(100*response.data.processed/response.data.total * 100) / 100).toFixed(2);

        // If necessary, start polling
        if(this.generatingThumbnails && this.polling == null)
          this.pollData();

        // If necessary, stop polling
        if(!this.generatingThumbnails && this.polling != null)
	        clearInterval(this.polling);
      });
    },
    pollData(){
      this.polling = setInterval(()=> {
          this.updateStatus();
      },3000);
    },
    clearThumbnailsAsk() {
      this.confirm = true;
    },
    clearThumbnails() {
      this.clearingThumbnails = true;
      api.post("system/thumbnailswipe").then((response) => {
        this.clearingThumbnails = false;
      });
    },
    logout() {
      localStorage.removeItem("token");
      localStorage.removeItem("user");
      this.$router.push("/Login");
    },
  },
});
</script>
<style lang="css" scoped>
.my-card{
  width: 100%;
  max-width: 320px;
}
.my-card > q-card-actions > q-btn {
  width: 100%
}

a{
  color: lightskyblue;
}

</style>
