<template>
  <router-view id="q-app" />
</template>
<script>
import { defineComponent } from 'vue';
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'App',

  setup () {
    const $q = useQuasar()

    // Set the dark mode
    $q.dark.set(true)
  }
})
</script>
